body {
    header {
        width: 100%;
        background-color: rgb(40, 39, 39);

        .header-container {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .logo {
                img {
                    width: 9vmin;
                }
            }

            .menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;

                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 1em;

                    li {
                        cursor: pointer;
                    }
                }

                .search {
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
                    align-items: center;
                    border-bottom: 3px solid red;

                    input {
                        border: none;
                        background-color: transparent;
                        width: 8em;
                        padding: 0.5em;
                        appearance: none;
                        color: white;

                        ::placeholder {
                            color: white !important;
                        }
                    }

                    i {
                        color: red;
                    }
                }
            }
        }
    }
}
